<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Simple Idea Note taking App</p>
  <p>Jot down idea as a note</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg" role="button">Add note</a>
</div>